.remove-icon-upload {
    font-size: 12px;
    float: right;
    padding-top: 12px;
}

.upload-message {
    font-size: 11px;
    font-style: italic;
    color: #428BCA;
}

.upload-file {
    padding-left: 15px;
    height: 60px;
    margin: auto;
    padding: 10px;
    line-height: 10px;
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-top: none;
}

.upload-file-details {
    float: left;
    width: 70%;
}

.image-preview {
    float: left;
    padding-right: 15px;
}
