/* ========================================================
*
* MVP Ready - Lightweight & Responsive Admin Template
*
* ========================================================
*
* File: mvpready-landing.css, mvpready-landing-*.css
* Version: 1.0.0
* Author: Jumpstart Themes
* Website: http://mvpready.com
*
* ======================================================== */
body {
  padding: 0;
  margin: 0;
  color: #444;
  font-family: 'Helvetica', 'Trebuchet MS', arial, sans-serif;
  font-size: 13px;
}
/* !Text */
/* ----------------------------------------------- */
.text-primary,
.text-primary:hover {
  color: #666634;
}
.text-secondary,
.text-secondary:hover {
  color: #6685a4;
}
.text-tertiary,
.text-tertiary:hover {
  color: #bcbcbc;
}
.text-info,
.text-info:hover {
  color: #5bc0de;
}
.text-warning,
.text-warning:hover {
  color: #f0ad4e;
}
.text-success,
.text-success:hover {
  color: #5cb85c;
}
.text-danger,
.text-danger:hover {
  color: #d9534f;
}
.text-sm {
  font-size: 11px;
}
.text-md {
  font-size: 13px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 24px;
}
/* !Buttons */
/* ----------------------------------------------- */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-secondary,
.btn-tertiary,
.btn-facebook,
.btn-twitter {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-secondary:active,
.btn-tertiary:active,
.btn-facebook:active,
.btn-twitter:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.btn-secondary.active,
.btn-tertiary.active,
.btn-facebook.active,
.btn-twitter.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #cc2d2d;
  border-color: #9a2222;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #d74b4b;
  border-color: #cc2d2d;
}
.btn-primary .badge {
  color: #d74b4b;
  background-color: #fff;
}
.btn-secondary-new {
    background-image: linear-gradient(to bottom, #666634 0%, #505029 100%);
     border:1px solid #878747;
    color: #ffffff;
    height: 52px;
    margin: auto;
    text-align: center;
    width: 250px;
}
.btn-secondary-new:hover,
.btn-secondary-new:focus,
.btn-secondary-new:active,
.btn-secondary-new.active,
.open .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #7f7f42;
 
    border:1px solid #878747;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #6685a4;
  border-color: #54718d;
}
.btn-secondary .badge {
  color: #6685a4;
  background-color: #fff;
}
.btn-tertiary {
  color: #ffffff;
  background-color: #bcbcbc;
  border-color: #a8a8a8;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: #ffffff;
  background-color: #a8a8a8;
  border-color: #898989;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #bcbcbc;
  border-color: #a8a8a8;
}
.btn-tertiary .badge {
  color: #bcbcbc;
  background-color: #fff;
}
.btn-facebook {
  color: #ffffff;
  background-color: #4669b4;
  border-color: #3a5896;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #3a5896;
  border-color: #293e6a;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #4669b4;
  border-color: #3a5896;
}
.btn-facebook .badge {
  color: #4669b4;
  background-color: #fff;
}
.btn-twitter {
  color: #ffffff;
  background-color: #15beff;
  border-color: #00aaeb;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #00aaeb;
  border-color: #007eae;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #15beff;
  border-color: #00aaeb;
}
.btn-twitter .badge {
  color: #15beff;
  background-color: #fff;
}
  .btn-default {
    background-color: #666634;
    background-image:none;
    background-repeat: none;
    border-color: none;
    color: #ffffff;
    text-shadow: 0 0px 0 #fff;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #4d4d28;
  background-position: 0 -15px;
  border-color: #666634;
  color: #ffffff;
}
.btn-default:active,
.btn-default.active {
  background-color: #4d4d28;
  border-color: #4d4d28;
  color: #ffffff;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
  border-color: #3e8f3e;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
  border-color: #e38d13;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
  border-color: #b92c28;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
  border-color: #28a4c9;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #d74b4b 0%, #bb2a2a 100%);
  background-image: linear-gradient(to bottom, #d74b4b 0%, #bb2a2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd74b4b', endColorstr='#ffbb2a2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b32828;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #bb2a2a;
  border-color: #b32828;
}
.btn-secondary {
  background-image: -webkit-linear-gradient(top, #6685a4 0%, #4d6781 100%);
  background-image: linear-gradient(to bottom, #6685a4 0%, #4d6781 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6685a4', endColorstr='#ff4d6781', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #49627a;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #4d6781;
  background-position: 0 -15px;
  border-color: #49627a;
}
.btn-secondary:active,
.btn-secondary.active {
  background-color: #4d6781;
  border-color: #49627a;
}
.btn-tertiary {
  background-image: -webkit-linear-gradient(top, #bcbcbc 0%, #9d9d9d 100%);
  background-image: linear-gradient(to bottom, #bcbcbc 0%, #9d9d9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcbcbc', endColorstr='#ff9d9d9d', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #989898;
}
.btn-tertiary:hover,
.btn-tertiary:focus {
  background-color: #9d9d9d;
  background-position: 0 -15px;
  border-color: #989898;
}
.btn-tertiary:active,
.btn-tertiary.active {
  background-color: #9d9d9d;
  border-color: #989898;
}
.btn-facebook {
  background-image: -webkit-linear-gradient(top, #4669b4 0%, #354f87 100%);
  background-image: linear-gradient(to bottom, #4669b4 0%, #354f87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4669b4', endColorstr='#ff354f87', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #324b80;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #354f87;
  background-position: 0 -15px;
  border-color: #324b80;
}
.btn-facebook:active,
.btn-facebook.active {
  background-color: #354f87;
  border-color: #324b80;
}
.btn-twitter {
  background-image: -webkit-linear-gradient(top, #15beff 0%, #009bd7 100%);
  background-image: linear-gradient(to bottom, #15beff 0%, #009bd7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff15beff', endColorstr='#ff009bd7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #0094cd;
}
.btn-twitter:hover,
.btn-twitter:focus {
  background-color: #009bd7;
  background-position: 0 -15px;
  border-color: #0094cd;
}
.btn-twitter:active,
.btn-twitter.active {
  background-color: #009bd7;
  border-color: #0094cd;
}
.btn-jumbo-new {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-jumbo {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
}
/* !Badges */
/* ----------------------------------------------- */
.badge {
  font-weight: 600;
}
.badge-primary {
  background-color: #d74b4b;
}
.badge-secondary {
  background-color: #6685a4;
}
.badge-tertiary {
  background-color: #bcbcbc;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-info {
  background-color: #5bc0de;
}
.badge-warning {
  background-color: #f0ad4e;
}
.badge-danger {
  background-color: #d9534f;
}

/* !Back to Top */
/* ----------------------------------------------- */
#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1001;
  width: 30px;
  height: 30px;
  display: block;
  background:#4B473A;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
 
}
#back-to-top:hover {
  text-decoration: none;
  background-color:#696453;
  background-color:none;
}
#back-to-top i {
  color: #ffffff;
}
@media (min-width: 768px) {
  #back-to-top {
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
}
/* !Layout */
/* ----------------------------------------------- */
/* !Navbar */
/* ----------------------------------------------- */
.navbar-inverse {
  margin-bottom: 0;
  background-color: #4b473a;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  border-bottom: 1px solid #0d1216;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #0d1216;
}
.navbar-collapse.in {
  max-height: none;
  overflow-y: visible;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: #6a3a57;
}
.navbar-inverse .navbar-brand-img {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-inverse .navbar-toggle {
  padding: 0 18px;
  margin: 0;
  height: 50px;
  color: #fff;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  line-height: 50px;
  border: none;
  outline: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
  color: #666634;
  background-color: #4d4d28;
}
.navbar-inverse .navbar-toggle.is-open {
  color: #fff;
  background-color: #666634;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #696453;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:active,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #4E4E28;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #4E4E28;
}
.navbar-inverse .navbar-nav > .navbar-profile > a {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-profile-avatar {
  position: relative;
  top: -1px;
  width: 30px;
  margin-right: .65em;
  border: 2px solid #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navbar-profile-label {
  display: inline;
  font-size: 13px;
}
.navbar-profile-label-visible {
  display: inline !important;
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-profile-label {
    display: none;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}
.navbar-visible-collapsed {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-visible-collapsed {
    display: none;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
  }
  .navbar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  .navbar-right .dropdown-menu:before {
    right: 9px;
    left: auto;
  }
}
.mainnav-caret:before {
  display: inline-block;
  position: relative;
  top: 0;
  margin-left: .25em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f0d7";
  -webkit-font-smoothing: antialiased;
}
.navbar {
  min-height: 60px;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  height: 60px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 600;
  height:60px;
  border-bottom: 1px solid transparent;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background: #696453;
  border-bottom-color: #ffffff;
}
.navbar-inverse .navbar-nav > li.active > a {
  background: #4E4E28;
  border-bottom-color: #d74b4b;
}
.navbar-social-label {
  display: inline;
  padding-left: .4em;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-social > li > a {
    padding-right: 10px;
    padding-left: 10px;
    color: #567a99;
    font-size: 18px;
    font-weight: 800;
  }
  .navbar-social-label {
    display: none;
  }
}
/* !Masthead */
/* ----------------------------------------------- */
.masthead {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f9d400;
   border-bottom: 0px solid #fff;
  background-image:url(../img/masthead/gradientline.jpg);
  background-repeat:repeat-x;
 box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); 
}
.masthead iframe {
  border: none;
}
.masthead-form {
  width: 90%;
  padding-bottom: 6px;
  margin: 0 auto 4em;
  text-align: left;
}
.masthead-form .form-group {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .masthead-form {
    width: 70%;
  }
}
.masthead-text {
  padding-top: 15px;
  color: #fff;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.masthead-text-title {
  padding-top: 15px;
  color: #fff;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.masthead-text- {
  padding-top: 13px;
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.masthead-title {
  font-size: 40px;
  font-weight: 400;
}
.masthead-img {
  text-align: center;
}
.masthead-img img {
  margin: 0 auto;
}
.masthead-actions .btn {
  margin-right: 1em;
}
.masthead-actions .btn:last-child {
  margin-right: 0;
}
.masthead-subtitle {
  padding: 12px 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .masthead-subtitle {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 32px;
  }
}
.masthead-carousel {
  padding-top: 25px;
}
@media (min-width: 992px) {
  .masthead-carousel {
    padding-top: 35px;
  }
}
@media (max-width: 992px) {
  .masthead .row > div:first-child {
    margin-bottom: 3em;
  }
  .masthead-text {
    text-align: center;
  }
  .masthead-actions {
    text-align: center;
  }
  .masthead-actions .btn {
    margin: 0 5px .75em;
  }
}
.masthead-carousel .carousel-controls {
  position: absolute;
  left: 0;
  bottom: 80px;
}
.masthead-carousel .carousel-control {
  position: static;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.masthead-carousel .carousel-control.left,
.masthead-carousel .carousel-control.right {
  background: #4d4d28;
  filter: none;
}
.masthead-carousel .carousel-inner {
  min-height: 425px;
}

.masthead-pattern {
	width: 100%;
	background:url(../img/masthead/pattern.png);
	background-repeat:repeat-x;
	background-position:top center;
}

.masthead-cloud {
	width: 100%;
	height:60px;
	background:url(../img/masthead/cloud.png);
	background-repeat:repeat-x;
	background-position:bottom center;

}
/* !Content */
/* ----------------------------------------------- */
.tab-pane {
  position: relative;
}
.content {
  padding-top: 40px;
  padding-bottom: 70px;
}
.content-title {
  position: relative;
  display: block;
  margin-bottom: 1.35em;
  border-bottom: 0px solid #b6b6b6;
}
.content-title span {
  display: inline-block;
  position: relative;
  top: 1px;
  padding-right: 1em;
  padding-bottom: 15px;
  border-bottom: 0px solid #666634;
}
.content-title .carousel-next,
.content-title .carousel-prev {
  position: relative;
  top: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.content-title .carousel-prev {
  margin-left: .5em;
}
/* !Layout */
/* ----------------------------------------------- */
.layout {
  margin-top: -40px;
  margin-left: -15px;
  margin-right: -15px;
}
.layout:before,
.layout:after {
  content: " ";
  display: table;
}
.layout:after {
  clear: both;
}
.layout-main {
  padding-top: 40px;
  padding-bottom: 26px;
}
.layout-sidebar {
  padding-top: 40px;
  padding-bottom: 60px;
}
.layout-main-left .layout-main {
  padding-right: 30px;
  padding-left: 15px;
}
.layout-main-left .layout-sidebar {
  padding-right: 15px;
  padding-left: 30px;
  border-left: none;
  -webkit-box-shadow: none;
  box-shadow:none;
}
.layout-main-right .layout-main {
  padding-right: 15px;
  padding-left: 30px;
}
.layout-main-right .layout-sidebar {
  padding-right: 30px;
  padding-left: 15px;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, 0.2);
}
/* !Nav Layout */
/* ----------------------------------------------- */
.nav-layout-sidebar-skip {
  display: none;
  margin-bottom: 1em;
  font-size: 12px;
  text-align: center;
}
.nav-layout-sidebar {
  position: relative;
  z-index: 101;
  margin: 0 0 2em;
  border-top: 1px solid #e5e5e5;
}
.nav-layout-sidebar > li {
  padding: 0;
  margin: 0;
}
.nav-layout-sidebar > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
}
.nav-layout-sidebar > li > a .fa {
  width: 1em;
  margin-right: 4px;
  font-size: 1.15em;
  text-align: center;
}
.nav-layout-sidebar > li > a:hover {
  background-color: #f4f4f4;
}
.nav-layout-sidebar > .active > a,
.nav-layout-sidebar > .active > a:focus,
.nav-layout-sidebar > .active > a:hover {
  color: #666634;
  font-weight: 600;
  background-color: #fff;
}
.nav-layout-sidebar > li + li {
  margin-top: 0;
}
.layout-main-left .nav-layout-sidebar {
  margin-right: 0;
  margin-left: -31px;
}
.layout-main-left .nav-layout-sidebar > li {
  margin: 0 0 0 1px;
}
.layout-main-left .nav-layout-sidebar > .active {
  margin-left: 0;
}
.layout-main-right .nav-layout-sidebar {
  margin-left: 0;
  margin-right: -31px;
}
.layout-main-right .nav-layout-sidebar > li {
  margin: 0 1px 0 0;
}
.layout-main-right .nav-layout-sidebar > .active {
  margin-right: 0;
}
/* !Responsive Layout */
/* ----------------------------------------------- */
@media (max-width: 1200px) {
  .layout-stack-lg {
    margin-top: 0;
  }
  .layout-stack-lg .layout-main,
  .layout-stack-lg .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-lg .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-lg .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-lg .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-lg .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .layout-stack-md {
    margin-top: 0;
  }
  .layout-stack-md .layout-main,
  .layout-stack-md .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-md .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-md .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-md .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-md .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .layout-stack-sm {
    margin-top: 0;
  }
  .layout-stack-sm .layout-main,
  .layout-stack-sm .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-sm .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-sm .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-sm .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-sm .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .layout-stack-xs {
    margin-top: 0;
  }
  .layout-stack-xs .layout-main,
  .layout-stack-xs .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-xs .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-xs .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-xs .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-xs .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}

a {
    color: #666634;
    text-decoration: none;
}

a:hover, a:focus { color: #666634;
    text-decoration: underline;
}

  
  .btn-primary {
    background-image: linear-gradient(to bottom, #666634 0%, #666634 100%);
    background-repeat: repeat-x;
    border-color: #666634;
}
.btn-primary {
    background-color: #666634;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #4d4d28;
    background-position: 0px 0px;
    border-color: #666634;}
.text-white{color:#FFF;}
.col-md-6 {
    width: 75%;
}
.padding-top{ padding-top:5px;}
.padding-top-home{ padding-top:15px;}
.text-sidebar,
.text-sidebar:hover {
  color: #666634;
}
.list-group-item:hover {
  color: #666634;
}